.rabot{
    display:none;
    position: absolute;
    z-index: 1;
    margin-left:-60px;
}
.rabot a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .menu-btn:hover .rabot {display:block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .menu-btn:hover .dert {background-color: #3e8e41;}

.menu{
    display:flex;
    justify-content: center;
   
}
.rabot a {
    text-decoration: none;
        display: block;
        padding: 12px 16px;
}
.dert{
    position:absolute;
    margin-left:-60px;
    display:block;
    text-decoration: none;

}
.menu-btn{
    display:inline-block;
}
.train a {
    text-decoration: none;
}





