.button-one{
    position: relative;
    top:90px;
    left:100px;
}
.button-two{
    position: relative;
    top:190px;
    left:100px;
}
.button-three{
    position: relative;
    top:290px;
    left:100px;
}
.button-four{
   position: relative;
   top:390px;
   left:100px;
}